@import '@fontsource/inter/400.css';
@import '@fontsource/inter/700.css';

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: radial-gradient(circle at top left, #23395d, #0f172a, #0b0f19, #101624);
  background-size: 300% 300%;
  animation: diagonalGradientMove 25s ease infinite;
}

@keyframes diagonalGradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
